.App {
  text-align: center;
  background-color: #161e21;
  height: 100vh;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.Content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
