body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.general_buttonStyle {
    background-color: seagreen;
    height: 100px;
    width: auto;
    border-radius: 10px;
    outline: none;
    font-size: 3vh;
}

.generalInputStyle {
    height: 35px;
}

.generalContainerSize {
    border: 3px solid LightGreen;
    height: auto;
    width: 500px;
    border-radius: 35px;
    padding: 10px;
}

.generalBoxFirst {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #294b8e;
    border-radius: 35px;
    height: 150px;
    width: auto;
    vertical-align: middle;
    margin-bottom: 5px;
}

.generalBoxSecond {
    padding: 35px;
    border-top: 1px solid #294b8e;
    border-radius: 35px;
    height: 150px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}




