.container {
    composes: generalContainerSize from  "../../index.css";
}
.box_first {
    composes: generalBoxFirst from "../../index.css";
}
.box_second {
    composes: generalBoxSecond from "../../index.css"
}
.box_first_done {
    composes: generalBoxFirst from "../../index.css";
    color: gold;
}